Repository alexlam184/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn check-lint, yarn check-format, yarn check-types

docs : update readme
  README.md
Due: none

feat : update readme second
  README.md
Due: none

docs : add readme
  README.md
Due: none

chores : check-all command change
  package.json
Due: yarn check-lint, yarn check-format

format : check-types
  package.json
  tsconfig.json
Due: yarn check-lint, yarn check-format

format : update formatter
  .eslintignore
Due: none

format : update formatter
  .eslintignore
  .husky/pre-commit
  .prettierignore
Due: none

api test forward
  .husky/pre-commit
  pages/api/butterfly.ts
Due: yarn check-lint, yarn check-format, yarn check-types

api test 2
  pages/api/butterfly.ts
Due: yarn check-lint, yarn check-format, yarn check-types

api test 3
  pages/api/butterfly.ts
Due: yarn check-lint, yarn check-format, yarn check-types

api test 4
  pages/api/butterfly.ts
  vercel.json
Due: yarn check-lint, yarn check-format, yarn check-types

api test 5
  vercel.json
Due: yarn check-lint, yarn check-format

api test 6
  next.config.js
Due: yarn check-lint, yarn check-format

api add butterfly test
  pages/api/butterflypfive.ts
Due: yarn check-lint, yarn check-format, yarn check-types

Path conditions:
  yarn check-lint: any of: *.{js,ts,tsx,css,json}
  yarn check-format: any of: *.{js,ts,tsx,css,json}
  yarn check-types: any of: *.{ts,tsx}
